.vscode/
*.o
libDAIApp

# Ignore results contents except .gitkeep
/results/ImageSegmentation/*
!/results/ImageSegmentation/.gitkeep

# Ignore results contents except .gitkeep
/results/BipartiteGraph/*
!/results/BipartiteGraph/.gitkeep

# Ignore results contents except .gitkeep
/results/Sprinkler/*
!/results/Sprinkler/.gitkeep

latex/*
html/*
docs/*